body{
    margin: 0;
}

.loading{
  justify-content: center;
  align-self: center;
  height: 100vmax;
  width: 100vmax;
  background-color: lightgreen;
}

.loader {
  margin-top: 20%;
  display: block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*---------------------------------------------------------------Modal---------------------------------------------------------------*/
#myModal{
  background: url('https://wallpapercave.com/wp/QVjcxmp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-content{
    height: 20em;
    border-radius: 0;
    box-shadow: 5px 10px green;
    text-align: center;
    border: solid 4px blue;
    background: url('https://pre00.deviantart.net/0afc/th/pre/f/2015/196/6/6/minecraft_wallpaper_by_zaktech90-d91dpqh.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.modal-title{
    font-size: 3em;
}

.modal-body{
    top: 20%;
    font-size: 1.5em;
}

#startButton{
    border-radius: 0;
    background-color: blue;
    box-shadow: 5px 5px green;
}

/*---------------------------------------------------------------Game box---------------------------------------------------------------*/
#bigBox{
    display: inline-grid;
    grid-template-columns: repeat(22, auto);
}

.divEmpty {
    background-color:lightblue;
}

.divGround {
    background-image: url("https://i.pinimg.com/originals/e7/c6/ad/e7c6ad6df57f796e1e6a8301507ac3cf.png");
}

.divWood {
    background-image: url("https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/rDtN98Qoishumwih/minecraftpattern-05-091815-744_thumb.jpg");
}

.divLeaf{
    background-image: url("https://i.imgur.com/3m3Oi.jpg");
}

.divCloud{
    background-color: #F8FBEF;
}

.divStone{
    background-image:url("https://i.pinimg.com/236x/78/3e/4f/783e4f238c694624a695f49cf72dd763--minecraft-yahoo.jpg");
}
.divGrass{
    background-image:url("https://static.planetminecraft.com/files/resource_media/screenshot/1812/wiki-background-1521953617_lrg.jpg");
}

.divNum10{
    background-color:lightblue;
}

.victoryTile{
    background-image:url("http://2.bp.blogspot.com/_N9GN5lJv-Ws/TNCg3AnW8EI/AAAAAAAAGRM/r9TTz9OXDIA/gold%2010.jpg");  
}

.divEmpty, .divLeaf, .divGround, .divWood, .divCloud, .divStone, .divGrass, .divNum10, .victoryTile{
    padding: 25px;
    background-size: contain;
    transition: all 0.5s linear;
}

.divEmpty:hover, .divLeaf:hover, .divGround:hover, .divWood:hover, .divCloud:hover, .divStone:hover, .divGrass:hover{
  border: solid 2px blue;
  padding: 23px;
}

/*--------------------------------------------------------------Side bar-----------------------------------------------------------------*/
.sideBar{
    position: fixed;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    right:0;
    background-color:black;
    padding: 0 10vh;
    height : 100vh;
    display: none;
}

.toolContainer{
    border : 2px solid blue;
    height : 15vh;
    width : 15vh;
    padding:7px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px -5px white;
}

#toolContainer0{
    background-image: url("https://frikicaos.es/img/p/2/8/28-large_default.jpg");
}

#toolContainer1{
    background-image: url("https://cdn.shopify.com/s/files/1/1783/8113/products/pico_minecrafto_345x@2x.jpg?v=1519479284");
}

#toolContainer2{
    background-image: url("https://www.vayava.es/img/p/6/8/6/7/6867-thickbox_default.jpg");
}

#toolContainer3{
  background-image:  url('https://s3.amazonaws.com/kandipatternspatterns/characters/11458_Bob_Marley_2.png');
}

.lastTile{
    border: 2px solid blue;
    height: 8vh;
    width: 8vh;
    padding:7px;
    background-size: contain;
    box-shadow: -5px -5px white;
    transition: all 0.5s linear;
}

.selectedTool{
    border: 4px solid red;
}

.selectedTileCreator{
    border: 7px solid yellowgreen;
}
